OPENROUTER_API_KEY="sk-or-v1-..."
LOCAL_MODEL_NAME="ai/devstral-small-2"
REMOTE_MODEL_NAME="google/gemma-4-31b-it"
LOCAL_BASE_URL="http://model-runner.docker.internal/engines/v1"
REMOTE_BASE_URL="https://openrouter.ai/api/v1"
